.logo-container {
	text-align: center;
	.logo-img {
		width: 240px;
		height: 240px;
	}
}

.err-msg { // error message
	color: red; 
	text-align: center; 
	font-size: 18px;
}

.am-tab-bar { // footer
	position: fixed;
    bottom: 0;
    width: 100%;
}